.index-wrapper {
  background-color: #282828;
  height: 100%;
  width: 100%;
}

.index-header {
  position: relative;
  top: 0;
  height: 60px;
  font-size: 0.9em;
}

.index-container {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  background-color: #282828;
}

pre {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 46%;
  font-size: 2em;
  line-height: 150%;
  color: #FFF;
}

.small-pre {
  display: none;
}

.index-footer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.index-footer a {
  color: inherit;
  font-weight: normal;
}

.red {
  color: #ce7368;
}

.red a {
  font-weight: normal;
}

.blue {
  color: #3498DB;
}

.yellow {
  color: #e9d37d;
}

.yellow a {
  color: inherit;
}

.yellow a:hover {
  color: #F5D76E;
}

.sea-foam {
  color: #00bcd4;
}

.green {
  color: #98dd8a;
}

.grey {
  color: #c9d5ec;
}

.syntax {
  font-weight: 600;
}
